<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-detail.css' />
    <script type="text/javascript" src="./javascripts/footerFixed.js"></script>
    <script src="https://kit.fontawesome.com/831a884b90.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="content">
      <header>
        <div class="headerLogo">
          <a href="/"><p>映画<span>GO</span></p></a>
        </div>
        <div class="headerSign">
          <div class="signIn">
            <a>ログイン</a>
          </div>
          <div class="btn signUp">
            <a>新規登録</a>
          </div>
        </div>
      </header>

      <main>
        <div class="subject">
          <h1>作品紹介</h1>
        </div>
        <div class="detail">
          <div class="detailLeft">
            <div class="moviePoster">
              <img class="moviePosterImg" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>">
            </div>
            <div  class="theaterBtn">
              <a>映画館へ</a>
            </div>
          </div>
          <div class="detailRight">
            <h2 class="movieTitle"><%= movie.title %></h2>
            <p class="movieTagline"><%= movie.tagline %></p>
            <% let hour = Math.floor(movie.runtime / 60) %>
            <% let minute = movie.runtime % 60 %>
            <p class="movieReleaseDate"><%= movie.release_date %><span class="movieRuntime"><%= hour+"時間" + " " + minute+"分" %></span></p>


            <div class="movieScore">
              <div id="pie-chart">
                <div class="pie-chart-wrap">
                  <% let colorClass; %>
                  <% if (movie.vote_average >= 7.5) { %>
                  <% colorClass = "green" %>
                  <% } else if (movie.vote_average >= 5.0) { %>
                  <% colorClass = "yellow" %>
                  <% } else { %>
                  <% colorClass = "red" %>
                  <% } %>
                  <div class="box <%= colorClass %>">
                    <div class="percent">
                      <svg>
                        <circle class="base" cx="75" cy="75" r="50"></circle>
                        <circle class="line" cx="75" cy="75" r="50"></circle>
                      </svg>
                      <div class="number">
                        <h3 class="title"><%= Math.floor(movie.vote_average * 10) %><span>%</span></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p>ユーザースコア</p>
            </div>

            <% if (movie.overview != "") { %>
            <p class="movieOverviewTitle">概要</p>
            <p class="movieOverview"><%= movie.overview %></p>
            <% } %>
          </div>
        </div>
        <div class="director">
          <h1>監督</h1>
          <% for (let i=0; i<= credits.crew.length - 1; i++) { %>
          <% if (credits.crew[i].job == "Director") { %>
          <%= credits.crew[i].name %>
          <% } %>
          <% } %>
        </div>
        <div class="cast">
          <h1>出演者</h1>
          <% for (let i=0; i<= credits.cast.length - 1; i++) { %>
          <%= credits.cast[i].name %>
          <% } %>
        </div>
      </main>

      <footer id="footer">
        <div class="footerLogo">
          <a href="/"><p>映画<span>GO</span></p></a>
        </div>
        <div class="footerTwitter">
          <p><a><i class="fa-brands fa-twitter"></i></a></p>
        </div>
      </footer>
    </div>
    <script>
      var line
    </script>
  </body>
</html>
