<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-detail.css' />
    <script src="https://kit.fontawesome.com/831a884b90.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="content">
      <header>
        <div class="headerLogo">
          <a href="/"><p>映画<span>GO</span></p></a>
        </div>
        <div class="headerSign">
          <div class="signIn">
            <a>ログイン</a>
          </div>
          <div class="btn signUp">
            <a>新規登録</a>
          </div>
        </div>
      </header>

      <main>
        <div class="subject">
          <h1>作品紹介</h1>
        </div>
        <div class="detail">
          <div class="detailLeft">
            <div class="moviePoster">
              <img class="moviePosterImg" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>">
            </div>
            <div  class="theaterBtn">
              <a>映画館へ</a>
            </div>
          </div>
          <div class="detailRight">
            <h2><%= movie.title %></h2>
            <p><%= movie.tagline %></p>
            <p><%= movie.release_date %></p>
            <p><%= movie.popularity %></p>
            <p>概要</p>
            <p><%= movie.overview %></p>
          </div>
        </div>
        <div class="director">
          <h1>監督</h1>
          <% for (let i=0; i<= credits.crew.length - 1; i++) { %>
          <% if (credits.crew[i].job == "Director") { %>
          <%= credits.crew[i].name %>
          <% } %>
          <% } %>
        </div>
        <div class="cast">
          <h1>出演者</h1>
          <% for (let i=0; i<= credits.cast.length - 1; i++) { %>
          <%= credits.cast[i].name %>
          <% } %>
        </div>
      </main>

      <footer>
        <div class="footerLogo">
          <a href="/"><p>映画<span>GO</span></p></a>
        </div>
        <div class="footerTwitter">
          <p><a><i class="fa-brands fa-twitter"></i></a></p>
        </div>
      </footer>
    </div>
  </body>
</html>
